---
# SSH and user configuration
# --------------------------
# Public SSH key injected into the VM for the initial user
dev_ssh_key: "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIF/fMaEyNAnCt4zD5dtVGn1r2Q8D/vmk0ireIzGjctNJ tomasz.bielewicz@pm.me"

# Default username created by cloud-init and used by Ansible
cloud_user: dev

# SSH port for connecting to VMs
ssh_port: 22


# Network configuration
# ---------------------
# Interface name inside the guest (netplan uses this)
network_interface: ens3

# Host bridge interface used by vmnet-bridged on macOS
bridge_interface: en0

# DNS servers configured inside the guests
dns:
  - 1.1.1.1
  - 8.8.8.8
# Default gateway for the guest network
gateway: 192.168.0.1


# Build paths (relative to repo root)
# -----------------------------------
# Where per-VM disk images are created
disk_dir: build/disks

# Where rendered cloud-init configs and seed ISOs are stored
cloud_init_dir: build/cloud-init

# Source directory for cloud-init templates
cloud_init_src: cloud-init

# Disk image format used for VM disks
disk_format: qcow2


# QEMU settings
# -------------
# Base cloud image filename (stored under build/images)
base_image_name: debian-12-genericcloud-amd64.qcow2

# Absolute path to the base cloud image
base_image_path: "{{ playbook_dir }}/qemu/images/{{ base_image_name }}"

# Disk creation command (hypervisor-agnostic)
# Customize this to use different disk tools or formats
# Available variables: {{ base_image_path }}, {{ target_image }}
disk_create_command: qemu-img create -f qcow2 -b "{{ base_image_path }}" -F qcow2 "{{ target_image }}"


# VM launch command (hypervisor-agnostic)
# Customize this to use different hypervisors (QEMU, KVM, Xen, Hyper-V, etc.)
# Available variables: {{ vm_name }}, {{ playbook_dir }}, {{ disk_dir }}, {{ cloud_init_dir }}, {{ bridge_interface }}, {{ nodes[vm_name].mac }}
vm_launch_command: |
  sudo -n qemu-system-x86_64 \
    -machine pc \
    -cpu max \
    -m 2048 \
    -smp 2 \
    -nographic \
    -drive file={{ playbook_dir }}/{{ disk_dir }}/{{ vm_name }}.qcow2,if=virtio,format=qcow2 \
    -drive file={{ playbook_dir }}/{{ cloud_init_dir }}/{{ vm_name }}/{{ vm_name }}.iso,if=virtio,media=cdrom,readonly=on \
    -netdev vmnet-bridged,id=net0,ifname={{ bridge_interface }} \
    -device virtio-net-pci,netdev=net0,mac={{ nodes[vm_name].mac }} \
    -boot order=c \
    -serial mon:stdio \
    > /tmp/qemu-{{ vm_name }}.log 2>&1

# VM nodes
# --------
# Map of VM names to static IPs and fixed MAC addresses
nodes:
  jumpbox:
    ip: 192.168.0.10
    mac: "52:54:00:12:34:10"
  node0:
    ip: 192.168.0.11
    mac: "52:54:00:12:34:11"
  node1:
    ip: 192.168.0.12
    mac: "52:54:00:12:34:12"
  server:
    ip: 192.168.0.20
    mac: "52:54:00:12:34:20"
