---
- name: Ensure target disk directory exists
  file:
    path: "{{ target_image | dirname }}"
    state: directory
    mode: "0777"

- name: Create disk image with backing file
  shell: "{{ disk_create_command }}"
  args:
    creates: "{{ target_image }}"
  environment:
    base_image_path: "{{ base_image_path }}"
    target_image: "{{ target_image }}"